{% extends 'seller/base.html' %}
{% load static %}
{% block title%}Login{% endblock%}
{% block body%} 

<div style='text-align: center; margin-top:10px;'>
    <table id='dashboard_table' width='100%'>
        <thead style="font-size: 12px;">
            <tr>
                <th class='table_box'>Image</th>
                <th style="width: 500px;" class='table_box heading' >Product<img style='width: 10px; margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Category<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Brand<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>M.R.P<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Sell price<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Currency<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Tags<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                <th class='table_box heading'>Quantity<img style='width: 10px;margin-left:2px;' src="{% static 'img/sort.png' %}"></th>
                
            </tr>
        </thead>
        <tbody style="font-size: 12px;">        
            {% for item in products %}
            <tr id="cart_table_row_{{item.id}}">
                <td class='table_box'><img src="/media/{{item.display_image}}" alt="" style="width: 50px;"></td>
                <td class='table_box'><a href="/seller/product/{{item.product.id}}">{{item.product_name}}</a></td>
                <td  class='table_box'>{{item.category.category_name}}</td>
                <td  class='table_box'>{{item.brand}}</td>
                <td  class='table_box'>{{item.list_price}}</td>
                <td  class='table_box'>{{item.min_price}}</td>
                <td  class='table_box'>{{item.price_currency}}</td>
                <td  class='table_box'>{{item.tags}}</td>
                <td  class='table_box'>{{item.qty}}</td>
                
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


    {% endblock%}