{% extends 'base.html' %}
{% load static %}
{% block title%}Product List{% endblock%}
{% block body%} 
    <!-- Page Header Start -->
    


{% comment %} 
    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">₹.0 - ₹.1000</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">₹.1000 - ₹.10000</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">₹.10000 - ₹.30000</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">₹.30000 - ₹.50000</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">₹.50000 - ₹.70000</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by brand</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Lava</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">OPPO</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Redmi</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Samsung</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">OnePlush</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="container">
                                <p>{{path}}</p>
                            </div>  
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item active"  href="/products/category/1/?filter_by=latest">Latest</a>
                                    <a class="dropdown-item" href="/products/category/1/?filter_by=low_to_high">Price: Low to High</a>
                                    <a class="dropdown-item" href="/products/category/1/?filter_by=high_to_low">Price: High to Low</a>
                                    <a class="dropdown-item" href="/products/category/1/?filter_by=rating">Best Rating</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                    {% for item in product %}
                   <!-- <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="{% url "products:item_detail" item.id %}">
                                <img class="img-fluid w-100" src="/media/{{item.image}}" alt=""></a>
                            
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                               <a href="{% url "products:item_detail" item.id %}"> <h6 class="text-truncate mb-3">{{item.product_name}}</h6> </a>
                                <div class="d-flex justify-content-center">
                                    
                                    <h6  >Rs. {{item.price}}</h6><h6 class="text-muted ml-2"><del>{{item.actual_price}}<del></h6>

                                    </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="card mb-4" style="max-width:850px;height:auto;">
                        <div class="row g-0">
                          <div class="col-md-3">
                            <a href="{% url "products:item_detail" item.id %}">
                            <img  src="/media/{{item.image}}" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <a href="{% url "products:item_detail" item.id %}">
                                    <h5 class="card-text" style='font-family: "Georgia", Times, serif; font-weight: bold;'>
                                        {{item.product_name}}</h5></a>
                                        <a href={% url "products:all_reviews" item.id%}>
                                        <small style="color:#808000;"> Rating: {{item.rating_count}}/5 | ({{item.review_count}})reviews </small>
                                        </a>
                                        <hr>
                                        <h4 style='color:red;'>₹.{{item.price}} <small style='color:black;'><small>  <del>₹.{{item.actual_price}}<del></small></small></h4>
                                           
                             
                            </div>
                          </div>
                        </div>
                      </div>

{% endfor%}
                </div>

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>

</div>
</div>
    <!-- Shop End --> {% endcomment %}

{% endblock%}