{% extends 'base.html' %}
{% load static %}
{% block title%}Cart{% endblock%}
{% block body%} 

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">shopping wishlist</h1>
           
        </div>
    </div>
    <!-- Page Header End -->

{% if wishlist_items%}
    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Remove</th>
                            <th>Add to cart</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        
                        
                        
                      {% for item in wishlist_items%}
                        <tr id="wishlist_table_row_{{item.id}}">
                            <td class="align-middle"><img src="/media/Item_image/{{item.product.display_image}}" alt="" style="width: 50px;">
                                <a href="/product/{{item.product.id}}">{{item.product.product_name}}</a></td>
                            <td  class="align-middle">{{item.product.min_price}}</td>
                           
                            <td class="align-middle">
                                <button onclick="remove_wish({{item.id}})" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>

                            </td>
                            <td class="align-middle">
                                <button style='border: none;
                                background: transparent;
                                cursor: pointer;' onclick="wishlist_to_cart({{item.product.id}})">
                                Add
                                </button>
                            </td>
                        </tr>
                        {% endfor%} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->
    {%else%}
    <h2> Empty wishlist</h2>

    {% endif%}

    {% endblock%}